/* .Header{
    background-color: #423b45;
} */
/* .Header {
    background: rgba(24,27,49,0.55);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(15, 17, 43, 0.796);
} */
/* #d9c9be */
/* #423b45 */



/* Header / MENU */

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__icon {
  width: 38px;
  height: 38px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: none;
}

.menu__icon span {
  width: 100%;
  height: 0.157rem;
  border-radius: 0.125rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
  transition: transform 0.4s, background-color 0.4s, width 0.4s, opacity 0.4s;
}

.menu__icon span:nth-child(2) {
  width: 60%;
}

.menu__icon.active span:nth-child(1) {
  background-color: rgb(253, 57, 46);
  transform: translateY(10.5px) rotate(-45deg);
}

.menu__icon.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.menu__icon.active span:nth-child(3) {
  background-color: rgb(255, 59, 48);
  transform: translateY(-10.5px) rotate(45deg);
}

.menu-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.menu-container {
  background: rgba(24, 27, 49, 0.65);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 99999999999;
}


/* HERO */

.Hero{
  height: 92vh;
  overflow: hidden;
  z-index: -1; 
  /* this pushes all of the hero behind the whole page. */
} 
@media screen and (max-width: 1025px) {
  .Hero{
    height: 100vh;
  }
  .Hero img{
    height: 100vh;
  }
}
.hero-position{
  position: absolute;
  background-color: rgba(24, 27, 49, 0.65);
  width: 60vw;
  top: 0px;
  left: -200px;
  height: 100vh;
  transform: skew(30deg);
  box-shadow: rgba(0, 0, 0, 0.1) 10px 0px 3px;
}
@media screen and (max-width: 769px) {
  .hero-position{
    width: 80vw;
  }
}
.hero-info{
  position: absolute;
  top: 33vh;
  width: 40vw;
  padding: 0 20px;
}
.hero-features{
  margin-left: 15px;
  list-style-type: disc;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* mobile view for hero info */

@media screen and (max-width:572px) {
  .hero-position{
    width: 105vw;
  }
  .hero-info{
    width: 100%;
    padding-left: 7px;
    padding-right: 5px;
  }
  .hero-info h1{
    background-color: rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
  }
  .hero-info p{
    max-width: 350px;
  }
  .hero-features{
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
  .hero-features li{
    list-style-type: none;
    font-size: xx-small;
    background-color: rgb(191, 144, 4);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }
}

/* home page abt */
.curve{
  width: 45vw;
  height: 665.5px;
}
.human{
  position: absolute;
  bottom: 0;
  right: 50px;
}
/* @media screen and (max-width:426px) {
  .human{
    width: 100px;
  }
} */